*{
  margin:0;
  padding:0;
    box-sizing:border-box;

    font-family: 'Poppins', sans-serif; 
  }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.header-body{
  background-color: #030303;
  width: 100%;
  
}

.header-container{
  margin:0 auto;
  width: 90vw;
  font-weight: 300;
  padding: 25px 20px;
  height: 250px;
  background: #030303;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container > h1{
  font-weight: 300;
  font-size: 2em;
}

.header-button{
  font-weight: 600;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 5px;
  background: #06cedb;
  cursor: pointer;
  padding: 0.25em 0.5em;
font-weight: 300;
font-size: 1.15em;
}

/* Start of search bar styling */
.search-container{
  margin:0 auto;
  width: 90vw;
  /* border: solid red 2px; */

  background: white;
    padding: 25px 50px;
    margin-top: -35px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
     flex-wrap: wrap;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #888888;
}

.search-container > *{
    
  display: inline-block;
  /* border: 2px solid green; */
 width: 250px;
  flex-shrink: 0;
  flex-grow:0;
  overflow: hidden;
  padding: 10px 20.5px;
  margin: 10px 0px;
}

.search-button{
  height: 50px;
border: none;
border-radius: 0.25em;
padding: 0.25em 0.5em;
font-weight: 300;
font-size: 1.15em;
cursor: pointer;
background-color: #06cedb;
}

select{
border: none;
border-radius: 0.25em;
padding: 0.25em 0.5em;
font-weight: 300;
font-size: 1.15em;
font-family: 'poppins',sans-serif;
cursor: pointer;
background-color: #e8e8e8;
}



/* Start of Job section */
.job-title{
  border: solid 2px red;
}

.job-primary-container{
  border: 2px solid blue;
}

.job-container{
  /* border: solid 5px red; */
  padding: 10px;
  /* margin-top: 15px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border: solid 1px #e8e8e8;
  cursor: pointer;
  transition: .3s;
  margin-bottom: 10px;
  margin:0 auto;
  width: 90vw;
}

.job-container:hover{
  border-left: #4e6af3 5px solid;
  box-shadow: 2px 2px 8px #888888;
}

.job-container > div{
 
  /* border: 2px solid green; */
  min-width: 33%;
}
.job-title{
  margin-bottom: 15px;
  font-weight: 400;
}
.job-skill{
  margin: 0px 5px;
  padding: 5px;
  background: #030303;
  color: white;
  font-size: small;
  border-radius: 5px;
 

}

.skills-container{
  border: 2px solid blue;
  display: flex;
  justify-content: flex-start;
}

.job-company{
  text-decoration: none;
  color: black;
  background: #06cedb;
  padding: 5px;

  border-radius: 5px;
  /* font-size: 20px;  */
}

.job-right-section{
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.job-attributes{
  font-weight: 300;
  font-size: small;
  margin-bottom: 15px;
   
}
.job-button{
  display: block;
  padding: 5px 15px;
  border: 2px solid black;
  border-radius: 15px;
  flex-grow: 0;
  width: fit-content;
   cursor: pointer;
  
  }


/*DialogPost box*/
.dialog-overlay{
  position: fixed;
  width: 100%;
  /* border: solid red 10px; */
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}    

.dialog-box{
  /* border: solid green 2px; */
  /* min-height : 500px; */
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 999;
  background-color: #ffffff;
  padding: 10px 20px 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: solid red 2px; */
}

.dialog-header{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.dialog-cancel{ 
  
 cursor: pointer;
 color: grey;
 font-weight: 300;
 
 border-radius: 35px;
 background: transparent;
}

.dialog-cancel:hover{
  text-decoration: underline;
 
}

.dialog-sections{ 
  /* border: solid red 2px; */
  
  
}
.dialog-container{
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  flex-wrap: wrap;
  
}
.dialog-container >*{
  margin: 5px;
  flex: 1;
  
  
}
.dialog-container > select{
  /* border: solid red; */

}

input{
  border: none;
border-radius: 2px;
padding: 2px 6px;
font-weight: 300;
cursor: pointer;
background-color: #e8e8e8;
height: 30px;
}

.dialog-submit-btn{
  font-weight: 600;
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 5px;
  background: #06cedb;
     cursor: pointer;
}
.dialog-footer{
  text-align: center;
}  


/*DialogCheck styling*/
.job-description{
  /* border: solid red; */
 flex: 2;
 height: 50px;
}


.dialog-check-header{
 border: solid 2px green;
 display: flex;
 justify-content: space-between;
 margin-bottom: 25px;
}
 
.dialog-check-content{
  
 border: solid 2px red;
 width: 100%;
 
}

.dialog-check-body > *{
 display: block;
 margin-top: 5px; 
 /* border: solid pink 2px; */
}

.dialog-check-skills{
 /* border: red solid 2px; */
 text-align: center;
}

.dialog-check-body > .job-skill{
 display: inline;
 border: solid red 2px;
}



/*loading styling*/
.loader-container {
  text-align: center;
}
.loader {
  
  width: 48px;
  height: 48px;
  border: 5px solid #06cedb;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

/*---------------------------------------------*/
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .search-container{
    border: 2px solid red;
    text-align: center;
  }
  .search-container > *{
      display: block;
      flex-grow: 1;
  }
  
  .job-container > * {
      width: 100%;
      /* display: block; */
      flex-grow: 1;
      margin: 5px;
      text-align: center;
  }
  
  .skills-container{
     
    justify-content: center;
}
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
